<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn more about Nikhil Kumar Gupta (nikzdevz), an IT enthusiast with expertise in Android and web development. Explore his tech stack and education.">
    <meta name="keywords" content="About Nikhil Kumar Gupta | nikzdevz, About Nikhil, Nikhil, Nikhil Kumar, nikdev, nikzdev,nikzdevz, Nikhil, Nikhil Kumar Gupta, nikz, devz, Hire developer, Programming with C/C++, Java, Python, Problem Solving, Android, Website Development, Git, GitHub, Daduwa Bazar, Gonda, nikzdevz.in, mi.nikzdevz, itz_mr_nikhil, devzstore, nikzdevz official">
    <meta name="author" content="Nikhil Kumar Gupta">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Nikhil Kumar Gupta | IT Enthusiast - Nikzdevz" />
    <meta property="og:url" content="https://nikzdevz.in/" />
    <meta property="og:image" content="https://nikzdevz.in/img/github.png" />
    <meta property="og:description" content="Learn more about Nikhil Kumar Gupta (nikzdevz), an IT enthusiast with expertise in Android and web development. Explore his tech stack and education." />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Nikhil Kumar Gupta | IT Enthusiast - nikzdevz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Nikhil Kumar Gupta | IT Enthusiast - nikzdevz</title>

</head>
<body>

    <div class="header">
        <div class="title">nikzdevz</div>
        <div class="menu">
            <ul>
                <li><a title="nikzdevz" href="#home">Home</a></li>
                <li><a title="nikzdevz" href="#about">About</a></li>
                <li><a title="nikzdevz" href="#education">Achievements</a></li>
                <li><a title="nikzdevz" href="#projects">Projects</a></li>
                <li><a title="nikzdevz" href="#contacts">Contacts</a></li>
            </ul>
        </div>
    </div>

    <!-- The rest of your content goes here -->

    <div class="content">
        <section id="home" class="full-height">
            <div class="home-section">
                <div class="left-section">
                    <div class="social-icons">
                        <a title="nikzdevz" href="https://github.com/nikzdevz/" target="_blank"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub"></a>
                        <a title="nikzdevz" href="https://www.linkedin.com/in/nikzdevz/" target="_blank"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/linkedin.png') }}" alt="LinkedIn"></a>
                        <a title="nikzdevz" href="https://www.instagram.com/machin.ik/" target="_blank"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/instagram.png') }}" alt="Instagram"></a>
                        <a title="nikzdevz" href="mailto:nikzdevz@gmail.com"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/gmail.png') }}" alt="Gmail"></a>
                    </div>
                </div>
                <div class="middle-section">
                    <p class="small-text">Hey there, My name is</p>
                    <h1 class="big-text">Nikhil Kumar Gupta</h1>
                    <div class="tag-box">
                        <div class="tag-text">App Developer</div>
                        <div class="tag-text">Machine Learning</div>
                        <div class="tag-text">Prompt Engineer</div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </section>

        <section id="about" class="full-height">
            <div class="about-section">
                <div class="left-about parallax">
                    <h2 class="about-text">ABOUT</h2>
                    <div class="about-image-container">
                        <img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/profile-about.jpg') }}" alt="About Image" class="about-image">
                    </div>
                </div>
                <div class="right-about parallax">
                    <div class="right-content">
                        <div class="greeting-section">
                            <p>Hello,</p>
                            <img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/texture2.jpg') }}" alt="Greeting Image">
                        </div>
                        <div class="about-content">
                            <p>I'm Nikhil Kumar Gupta aka nikzdevz, a 23-year-old IT enthusiast with a strong background in Android and web development. Passionate about combining creativity with strategy, I immerse myself in code to continually enhance my skills. With a commitment to adaptability, I stay on top of trends to deliver cutting-edge solutions. Join me on this journey to innovate and shape the future of technology.</p>
                        </div>
                        <div class="tech-stack">
                            <h3>Tech Stack</h3>
                                <div class="tag-box">
                                <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" /><p>HTML</p></div>
                                <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" /><p>CSS</p></div>
                                <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" /><p>JavaScript</p></div>
                                <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-plain.svg" /><p>PHP</p></div>
                                <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" /><p>Python</p></div>
                                <!-- <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" /><p>Programming with C</p></div>
                                <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" /><p>C++</p></div> -->
                                <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" /><p>Java</p></div>
                                <!-- <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/fastapi/fastapi-original.svg" /><p>API Developer</p></div> -->
                                <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/android/android-plain.svg" /><p>Android</p></div>
                                <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" /><p>Git and GitHub</p></div>
                                <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/machine-learning.png') }}"><p>Machine Learning</p></div>
                                <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/bot.png') }}"><p>Prompt Engineering</p></div>
                                <!-- <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="img/devops.png"><p>DevOps</p></div> -->
                                <!-- <div class="tag-text"><img alt="About Nikhil Kumar Gupta | nikzdevz" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/googlecloud/googlecloud-original.svg" /><p>Cloud Computing</p></div> -->
                                <!-- Add more tags as needed -->
                            </div>
                        </div>
                        <button id="downloadResume">Download Resume</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="education" class="full-height">
            <div class="education-container">
                <div class="education-left">
                    <h3>Education</h3>
                    <div class="StepProgress">
                        <div class="StepProgress-item">
                            <strong>High School</strong>
                            2016-17<br>
                            Aims International, Gonda
                        </div>
                        <div class="StepProgress-item">
                            <strong>Secondary School</strong>
                            2018-19<br>
                            Aims International, Gonda
                        </div>
                        <div class="StepProgress-item">
                            <strong>Graduation</strong>
                            Bachelor of Computer Application<br>
                            2019-22<br>
                            Integral University, Lucknow
                        </div>
                        <div class="StepProgress-item">
                            <strong>Post Graduation</strong>
                            Masters of Computer Application<br>
                            2022-24<br>
                            Chandigarh University, Mohali
                        </div>
                    </div>
                </div>
        
                <div class="education-middle">
                    <div class="rounded-div">
                        <h2>7</h2>
                        <p>Projects Completed</p>
                    </div>

                    <div class="rounded-div">
                        <h2>6</h2>
                        <p>Years of Professional Experience</p>
                    </div>
                
                    <!-- Rounded div 2 -->
                    <div class="rounded-div">
                        <h2>45+</h2>
                        <p>Freelancing Project Completed</p>
                    </div>
                
                    <!-- Rounded div 3 -->
                    
                
                    <!-- Rounded div 4 -->
                    <div class="rounded-div">
                        <h2>50+</h2>
                        <p>Happy Clients</p>
                    </div>
                    <!-- Content for the middle education section goes here -->
                </div>
        
                <div class="education-right">
                    <h2 class="edu-about-text">Achievements</h2>
                    <!-- Content for the right education section goes here -->
                </div>
            </div>
        </section>

        <section id="projects" class="full-height">
            <div class="project-section">
                <div class="project-labelled-div">
                    <h2>Projects</h2> 
                    <!-- Content for the labelled div goes here -->
                </div>
                <div class="project-card-parent">
                    <div class="project-card">
                        <div class="card-content">
                            <!-- Default content -->
                            
                            <div class="default-content">
                                <div class="project-logo-parent">
                                    <img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/scrapius-logo.png') }}" alt="Project Image" class="project-image">
                                </div>
                                <h3>Scrapius</h3>
                                <p>Automated Web Scraping</p>
                            </div>
                            
                            <!-- Hover content with slide-in animation -->
                            <div class="hover-content">
                                <p>Scrapius is a tool that provides feature to scrap data from any website by providing its pattern to scrap.</p>
                            </div>
                        </div>
                    </div>

                    
                    <div class="project-card">
                        <div class="card-content">
                            <!-- Default content -->
                            <div class="default-content">
                                <div class="project-logo-parent">
                                    <img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/devzstore-logo.png') }}" alt="Project Image" class="project-image">
                                </div>
                                <h3>DevzStore</h3>
                                <p>AI2 App editor</p>
                            </div>
                            
                            <!-- Hover content with slide-in animation -->
                            <div class="hover-content">
                                <p>DevzStore overcomes the limitation of AI2 that is to use aar library, native libraryin the app. Even can be used to inject xml resources as well.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="project-card">
                        <div class="card-content">
                            <!-- Default content -->
                            <div class="default-content">
                                <div class="project-logo-parent">
                                    <img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/logo-design.png') }}" alt="Project Image" class="project-image">
                                </div>
                                <h3>WEBR</h3>
                                <p>Android browser App</p>
                            </div>
                            
                            <!-- Hover content with slide-in animation -->
                            <div class="hover-content">
                                <p>Webr, an android app to provide one hand control UI with elegant feature including auto-incog, network security, Resumable downloads, etc.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="project-card">
                        <div class="card-content">
                            <!-- Default content -->
                            <div class="default-content">
                                <div class="project-logo-parent">
                                    <img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/parkino-logo.png') }}" alt="Project Image" class="project-image">
                                </div>
                                <h3>Parkino</h3>
                                <p>Parking Slot app</p>
                            </div>
                            
                            <!-- Hover content with slide-in animation -->
                            <div class="hover-content">
                                <p>Parkino, an app to book parking slot for your bike or car from anywhere before you reach the spot.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="project-card">
                        <div class="card-content">
                            <!-- Default content -->
                            <div class="default-content">
                                <div class="project-logo-parent">
                                    <img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/btm-menu.png') }}" alt="Project Image" class="project-image" style="-webkit-filter: invert(100%);
                                    filter: invert(100%);">
                                </div>
                                <h3>BottomMenuZ</h3>
                                <p>AI2 Plugin</p>
                            </div>
                            
                            <!-- Hover content with slide-in animation -->
                            <div class="hover-content">
                                <p>AI2 plugins to add bottom menu in your ai2 project app. There are around 28 combination of bottom menu in it.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="project-card">
                        <div class="card-content">
                            <!-- Default content -->
                            <div class="default-content">
                                <div class="project-logo-parent">
                                    <img alt="About Nikhil Kumar Gupta | nikzdevz" src="{{ url_for('static', filename='img/responsive.svg') }}" alt="Project Image" class="project-image">
                                </div>
                                <h3>Responziv</h3>
                                <p>AI2 Plugin</p>
                            </div>
                            
                            <!-- Hover content with slide-in animation -->
                            <div class="hover-content">
                                <p>Auto Resizing tool for AI2 apps. As there is no responsive design option in AI2, and this plugin resizes all the layout according to device property.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

        <section id="contacts" class="full-height">
            <p>You can get in touch with me. Just ping me at</p>
            <div class="typing-container">
                <div id="typing-text"></div>
            </div>     
        </section>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
